<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.universityofalabama.cs495f2018.berthaIRT">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_report_red_24dp"
        android:label="BeRThA IRT"
        android:roundIcon="@drawable/ic_report_red_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_report_red_24dp" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".Client">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".NewUserActivity" />
        <activity android:name=".AdminReportDetailsActivity" />
        <activity android:name=".StudentAlertCardsActivity" />
        <activity android:name=".StudentCreateReportActivity" />
        <activity android:name=".StudentMainActivity" />
        <activity android:name=".LogActivity" />
        <activity android:name=".MetricsActivity" />
        <activity android:name=".StudentReportDetailsActivity" />

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>