.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: rgba(76, 175, 80, 0.0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image:url("./images/jackedwallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    z-index: -3;
    will-change: transform;
    content: " ";
    padding: 0;

    min-height: 100vh;
    max-height:100%;
    min-width: 100vw;
    max-width:100%;
    width: 100%;
    height: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  background-attachment: scroll;
  }

.fadeImage {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
  display: block;
  
}


.thisText{
  font-family: Copperplate Gothic Bold;
  font-size: 1.5em;
  color: white; 
  

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
  display: block;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}