

  
  .md-tabs.documentation-tabs {
    bottom: 0;
    position: absolute;
    right: 0;
  }

 

.md-tabs .md-tab {
    margin-top: 1.5%;
 
    }

.md-tabs #simple-tab-0 {
      margin-left: 50%;}
    
.imageMovement{
    margin-bottom: 5em;
}

.theTabs{
    margin-top: 1.5em;
    margin-left: 50%;

}

